.DashBoardHead{
        max-width: 100%;
        max-height: 12%;
        background: #365dc0;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 0;
        overflow: hidden;
  }

.DashBoardLogo{
    max-width: 20%;
    max-height: 90%;
    cursor: pointer;
    margin-bottom: 70%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: 2px solid; */
    /* padding-bottom: 10%; */
}

.DashBoardHeadItems{
    display: flex;
    align-items: center;        
    justify-content: flex-end;
    margin-left:auto;

}
.subclass{
    max-width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* border: 2px solid; */
    margin: 2%;
   
}

.subclass-logo{
    /* position: absolute; */
width: 30%;
height: 40%;
}
.subclass-Text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inria Serif';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
    max-height: 20%;
    
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* max-height: 100%; */
    /* max-width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .container .modal {
    z-index: 1;
  max-width: 40%;
    max-height: 60%;
    top: 2%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    animation: animate 0.3s;
  }
  .modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: rgba(54, 93, 192, 1);
    max-width: 8%;
    max-height: 8%;
    color: white;
    font-weight: bold;
   
    border-radius: 2px;
    cursor: pointer;
    border: 2px solid black;
  }
  
  @keyframes animate {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  .modal-child{
    /* border: 2px solid; */
    max-width: 80%;
    max-height: 70%;
    align-items: center;
    display: flex;
    justify-content: center; 
  }

  .modal-child form{
    max-width: 40%;
    max-height: 50%;
    /* border: 2px solid red; */
    /* max-height: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .modal-child .form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    /* margin-left: 2rem; */
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .modal-child .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    /* font-size: 1.2rem; */
      /* margin: 0 auto; */
    padding: 1.5rem 2rem;

    border-radius: 0.2rem;
    border: 2px solid;
    background-color: rgb(255, 255, 255);
    /* border: none; */
    max-width: 70%;
    max-height: 10%;
    display: block;
    /* border-bottom: 0.3rem solid transparent; */
    transition: all 0.3s;
  }
  
  .modal-child .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  .modal-child .submit-create-form{
    background-color: #FF7F50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    max-width: 100%;   
    max-height: 30%;
    margin-top: 2%;
    cursor: pointer;
  }

  
  .modal-child .submit-create-form2{
    background-color: #8f8784da; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    max-width: 100%;   
    max-height: 30%;
    margin-top: 2%;
    cursor: pointer;
  }
  
  .course-success{
    color: green;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 10%;
    text-align: center;

  }