.MaterialBody{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
    /* margin: 5%; */
    /* border: 2px solid green; */
}

.MaterialContainer{
    border-top: 1px solid;
    /* margin-top: 2%; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    max-height: 80%;
    /* overflow: hidden; */
}
.FolderContainer{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    background: #365DC04D;
    max-height: 200%;
    /* margin: 2%; */
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 20px;
    /* margin: 2%; */
    margin-left: 4%;
    max-width: 90%;
    /* padding: 4%; */
    padding: 2%;
    cursor: pointer;
}
.FolderContainer:hover{
    border: 2px solid #FF7F50;
}
.FolderIcon{
    max-width: 5%;
    /* border: 2px solid; */
    /* background-color: #365DC0
    ; */
    margin-left: 2%;
    color: #365DC0;
}

.folderNo
{
    /* border: 2px solid; */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    font-family: Inria Serif;
    font-size: 25px;
}
.folderTitle{

    /* border: 2px solid; */
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inria Serif;
    font-size: 25px;
    font-weight: 700;
    color: #FF7F50;
    margin-left: 2%;

}

.MaterialContainer .container .modal .modal-child form{
    /* border: 2px solid; */
    max-width: 100%;
    max-height: 100%;
    /* display: flex; */
}
.MaterialContainer .container .modal .modal-child form .materialName{
    max-width: 80%;
    /* border: 2px solid red; */
    margin: 1%;
    font-family: Inria Serif;
    font-size: 18px;
    font-weight: 700;
    max-height: 15%;

}
.MaterialContainer .container .modal .modal-child form .materialDesc{
    border: 2px solid;
    max-width: 80%;
    max-height: 100%;
    margin: 2%;
}
.MaterialContainer .container .modal .modal-child form .materialButton
{
    background-color: #FF7F50; /* Green */
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 5px;
max-width: 40%;
/* max-width: 100%;    */
max-height: 20%;
margin-bottom: 2%;
cursor: pointer;
}
.materialButton2{
    background-color: #493e3adc; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    max-width: 40%;
    /* max-width: 100%;    */
    max-height: 20%;
    margin-bottom: 2%;
    cursor: pointer;
}