.DashBoardClasses{
    /* border: 2px solid; */
    max-width: 100% ;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.DashboardFirstHalf{
    /* border: 2px solid ;
     */
    border-bottom: 1px solid #000;
     max-height: 10%;

}
.classText{
    font-family: Inria Serif;
font-size: 48px;
font-weight: 400;
line-height: 58px;
letter-spacing: 0em;
text-align: left;

}

.DashBoardAllClasses{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid; */
    color: black;
}

.class-categories{
    /* border: 2px solid; */
    max-width: 100%;
    max-height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* cursor: pointer; */
    margin-top: 2%;
}

.category{
    border: 2px solid;
    max-width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3%;
    background-color: #FF7F50;

}
.category2{
    border: 2px solid;
    max-width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3%;
}